body {
    font-family: Arial;
    color: white;
    box-sizing: border-box;
    scrollbar-gutter: stable;
}

#settingsPage{
    margin: 10px;
}

.genreLabels {
    font-size: 20px;
}

.button {
    background-color: #7009e5;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Arial";
}

.button:hover {
    background-color: #3d057e;
}